<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Downloader</title>
    <style>
        html {
            background-color: #afafaf;
        }

        div {
            display: flex;
            justify-content: center;
        }


        button {
            font-size: 30pt;
            margin: 20px 40px;
        }
    </style>
</head>


<body>
    <div>
        <a href="http://localhost:8080/api/create_pdf_download" download>
            <button>Download File</button>
        </a>
        <a href="http://localhost:8080/api/create_pdf">
            <button>Only Create File</button>
        </a>
    </div>
</body>



</html>